@model WarHammer.Models.Army

<html>
<head>
    <title>Army - Create</title>
</head>
<body>
    <h2>Create</h2>
    <hr />
    <h4>Add a new Army</h4>
    @using (Html.BeginForm())
    {   
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description)
        <input type="submit" value="Add a new Army" />
    }
</body>
</html>